<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>Yoshihiro's Profile</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-blue.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="char_icon.css" />
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="app">
    <my-header :index=1></my-header>
    <drawer :index=1></drawer>
    <main class="mdl-layout__content">
      <div class="mdl-grid container">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Skills</h2>
          </div>
          <div class="mdl-cell mdl-cell--10-col center">
            <div class="skill-list-item mdl-list">
              <template v-for="(skills, type) in skillMap">
                <h3 class="mdl-typography--title skill-type">
                  {{ type }}
                </h3>
                <template v-for="skill in skills">
                  <li class="mdl-list__item mdl-list__item--two-line"
                  :class="[{'mdl-js-ripple-effect': skill.clickable}, {'ripple-background': skill.clickable}]"
                  @click="skill.click()">
                  <span class="mdl-list__item-primary-content">
                    <char-icon class="mdl-list__item-avatar" :char="skill.char" :color="skill.color"></char-icon>
                    <span>{{ skill.title }}</span>
                    <span class="mdl-list__item-sub-title">{{ skill.year }}</span>
                  </span>
                  <span class="mdl-list__item-secondary-content">
                    <i class="material-icons skill-icon" v-if="skill.level === 3">star</i>
                    <i class="material-icons skill-icon" v-else-if="skill.level === 2">star_half</i>
                    <i class="material-icons skill-icon" v-else-if="skill.level === 1">star_border</i>
                  </span>
                  <span class="mdl-ripple" v-if="skill.clickable"></span>
                </li>
              </template>
            </template>
          </div>
        </div>
      </div>
    </div>
    <my-footer></my-footer>
  </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="bower_components/vue/dist/vue.min.js"></script>
<script src="bower_components/axios/dist/axios.min.js"></script>
<script src="my_header.js"></script>
<script src="drawer.js"></script>
<script src="my_footer.js"></script>
<script src="char_icon.js"></script>
<script src="skill.js"></script>
</body>
</html>
